@use '@angular/material' as mat;

@include mat.core();

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #FEE2B3;
    color: #562349;
}